[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
port=3306
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
default_authentication_plugin=mysql_native_password

# Memory settings
innodb_buffer_pool_size=12G
key_buffer_size=32M
table_open_cache=5000
thread_cache_size=500
sort_buffer_size=8M
read_buffer_size=8M
read_rnd_buffer_size=16M
myisam_sort_buffer_size=64M
tmp_table_size=128M
max_heap_table_size=128M
max_allowed_packet=2048M
max_connections=2000

# Logging
slow_query_log=1
slow_query_log_file=/var/log/mysql-slow.log
long_query_time=2

# File security
secure-file-priv=""
explicit_defaults_for_timestamp=1

[mysqldump]
quick
max_allowed_packet=512M
